.hero {
  display: flex;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  height: 100vh - 300px;
  width: 100%;
}

.hero-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  line-height: 1.1;
}

.hero-left h2 {
  font-size: 16px;
  font-weight: 600;
}

.hero-left p {
  font-size: 60px;
  font-weight: 500;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-right img {
  height: 510px;
}

.hero-hand {
  display: flex;
  align-items: center;
}
.hero-hand img {
  height: 70px;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 45px;
  width: 200px;
  border-radius: 50px;
  background: #ff4141;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin: 30px 0px 0px 0px;
}

.hero-button img {
    height: 8px;
}