.description-box {
  margin: 0px 100px;
  font-size: 12px;
}

.description-box-navigator {
  display: flex;
}

.description-box-title {
  border: 1px solid #c5c5c5;
  padding: 15px;
  font-weight: 600;
}

.description-box-title-fade {
  border: 1px solid #c5c5c5;
  padding: 15px;
  font-weight: 400;
}

.description-box-body {
  border: 1px solid #c5c5c5;
  padding: 40px;
}
